.sectionContainer {
  padding: 0 20%;
  margin: 15% 0 20% 0;
}
.coffeeImg::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 86px;
  height: 100px;
  background-color: #ee8d35;
  z-index: -1;
}
.coffeeImg::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fdb921;
  z-index: -1;
}

.text {
  font-size: 45px;
  font-weight: bold;
  margin: 100px 0 0 100px;
  position: relative;
}
.text::before {
  content: " ";
  position: absolute;
  width: 45%;
  height: 6px;
  background-color: #ee8d35;
}
.text::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #ee8d35;
  top: 108%;
  right: -2%;
}

@media screen and (max-width: 576px) {
  .sectionContainer {
    padding: 0 64px;
  }
}
